#Files 
/.vs/*
/obj/*
.vs/*
obj/*
bin/*
appsettings.json
**/appsettings*.json
/appsettings.json
appsettings.*.json
**/appsettings*.json
Tests/obj/*
Tests/bin/*
*/obj/*
*/bin/*

alquimia.Data/bin/*
alquimia.Data/obj/*
alquimia.Services/bin/*
alquimia.Services/bin/*

Tests/obj/*
Tests/bin/*
/.idea/workspace.xml
.idea/